.appointment-header {
  background: url("../../../images/chairBg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.calendar {
  border: none;
  box-shadow: 0 0 35px -2px rgb(72 73 121 / 15%);
  padding: 10px;
  transform: translateX(39px) translateY(34px);
  border-radius: 5px;
  /* border: 1px solid lightgray; */
}

.calendar-item {
  border-radius: 4px;
}

button.react-calendar__tile.react-calendar__tile--now.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day.calendar-item {
  background-image: linear-gradient(to right, #18d2b2, #0fcfea);
}
