.modal {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.modal-main {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 35px -2px rgb(72 73 121 / 15%);
  padding: 40px;
}
