.testimonial {
  margin-top: 100px;
  margin-bottom: 100px;
}

.testimonial-card {
  margin-top: 50px;
  padding: 20px;
}

.user {
  display: flex;
  align-items: center;
}

.user-img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}
