.testimonial {
  margin-top: 100px;
  margin-bottom: 100px;
}

.testimonial-card {
  margin-top: 50px;
  padding: 20px;
}

.description {
  color: #5b5a64;
}

.user-info h5 {
  font-size: 16px;
}

.user-info p {
  font-size: 14px;
  color: #8f8c9b;
}

.user {
  display: flex;
  padding-top: 20px;
}

.user-img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
