/* some common classes */
.primary-btn {
  background-image: linear-gradient(to right, #18d2b2, #0fcfea);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: 600;
  transition: 0.1s;
  outline: none;
}

.admin-calendar {
  border: none;
  box-shadow: 0 0 35px -2px rgb(72 73 121 / 15%);
  padding: 10px;
  border-radius: 5px;
}

.react-calendar.admin-calendar {
  border: none;
}

.primary-btn:hover {
  background-image: linear-gradient(to left, #18d2b2, #0fcfea);
}

.text-brand {
  color: #3a4256;
}

.primary-text {
  color: #1cc7c1;
}

.link-style-none {
  text-decoration: none;
  color: #000000DE;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
