/* some common classes */
.primary-btn {
  background-image: linear-gradient(to right, #18d2b2, #0fcfea);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: 600;
  transition: 0.1s;
  outline: none;
}

.primary-btn:hover {
  background-image: linear-gradient(to left, #18d2b2, #0fcfea);
}

.text-brand {
  color: #3a4256;
}

.primary-text {
  color: #1CC7C1;
}
